<header>
  <div class="header-container position-relative">
    <img src="assets/images/header.jpeg" class="img-fluid position-absolute top-0 start-0 w-100 h-100" alt="banniere">
    <div class="col-lg-12 position-absolute w-100 d-flex flex-column justify-content-between bannerHeight">
      <div class="col-12 row menu position-absolute">
        <div class="dropdown">
          <button class="menubtn btn text-white dropdown-toggle border-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </button>
          <ul class="dropdown-menu border-warning">
            <li><a class="dropdown-item text-yellow" href="#">Se connecter</a></li>
            <li><a class="dropdown-item text-yellow" href="/subscribe">S'inscrire</a></li>
            <li><a class="dropdown-item text-yellow" href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="brandBox col-lg-4 text-center">
        <div class="brand">
          RUSH<i class="bi bi-lightning-charge-fill"></i>
        </div>
        <div class="text-white subBrand">- Fitness club</div>
      </div>
    </div>
  </div>
</header>
