/* Fonts */
@font-face {
    font-family: 'Wallpoet';
    src: url(/assets/fonts/wallpoet-regular.ttf);
}

@font-face {
    font-family: 'Harabara';
    src: url(/assets/fonts/harabara-regular.ttf);
}


/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 25%;
    margin: 0 auto; /* Centrer horizontalement */
    padding: 20px;
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}

header {
    user-select: none;
}

/* Menu styles */
.menubtn {
    position: fixed;
    right: 5vh;
}

.menu {
    font-family: 'Harabara', sans-serif;
    padding: 2vh;
    text-align: center;
}

.menu ul {
    list-style: none;
}

.menu ul li a:hover {
    background-color: #1C434A;
}

/* Branding and text styles */
.brandBox {
    font-size: 10vh;
    font-family: 'Harabara', sans-serif;
    color: #ffd700;
    text-align: center;
}

.subBrand {
    font-size: 3vh;
}

.text-yellow {
    color: #ffd700;
}

.devise {
    font-family: 'Harabara', sans-serif;
    font-size: 6vh;
    text-align: center;
}

p {
    opacity: 60%;
    font-size: 3vh;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .container {
        width: 90%; /* Étendre sur mobile */
    }

    .subBrand {
        font-size: 2vh;
    }

    .devise {
        font-size: 4vh;
    }

    p {
        font-size: 0.7em;
    }
}

/* Background color */
.bg-sarcel {
    background-color: #1C434A;
}
 

.header-container {
    position: relative;
    height: 25vh; /* Ajuste la hauteur selon tes besoins */
    width: 100%;
}

.header-container img {
    object-fit: cover;
    z-index: -1; /* Place l'image derrière les autres éléments */
}
