<app-discover></app-discover>
<main>
    <section id="target-section" class="container mx-auto">

      <!-- Présentation des équipements de la salle-->
      <div class="mt-5 text-white">
        <h1 class="text-center">Nos installations</h1>
        <p class="text-center">Découvrez nos équipements modernes pour vous offrir le meilleur entraînement.</p>
        <div class="row mt-5">
          <div class="col-lg-6 text-center">
            <img src="assets/images/carousel-1.jpg" class="carouselImg img-fluid rounded-4" alt="Salle de sport avec équipements modernes">
            <p class="mt-2">Espace de musculation entièrement équipé</p>
          </div>
          <div class="col-md-6 text-center">
            <img src="assets/images/carousel-2.jpg" class="carouselImg img-fluid rounded-4" alt="Salle de cardio avec machines dernier cri">
            <p class="mt-2">Zone cardio avec des machines dernier cri</p>
          </div>
        </div>
      </div>
      
    <!-- Présentations de divers membres -->
    <div class="bg-sarcel p-5 mt-5 rounded-4 shadow-lg">
      <div class="text-center mb-4">
        <h1 class="display-4 text-yellow fw-bold">Ils nous ont choisis</h1>
        <h2 class="text-secondary">Rejoignez notre communauté dès maintenant !</h2>
      </div>
      <div class="d-flex justify-content-center gap-4">
        <div class="card mb-3 bg-dark">
          <div class="row g-0">
            <div class="col-lg-12 text-center mt-3">
              <img src="assets/images/profil1.jpg" class="rounded-4 img-fluid" alt="John Doe">
            </div>
            <div class="text-center">
              <div class="card-body">
                <h5 class="card-title text-yellow fw-bold">Lucas</h5>
                <p class="card-text text-white">Depuis 2 ans, Lucas fait partie de notre communauté de fitness. En dehors de ses séances intensives de spinning, il aime discuter avec les autres membres et partager ses astuces pour maximiser les résultats de musculation.</p>
                <p class="card-text"><small class="text-secondary">Mis en ligne le 03/10/2024</small></p>
              </div>
            </div>
          </div>
        </div>
    
        <div class="card mb-3 bg-dark">
          <div class="row g-0">
            <div class="col-lg-12 text-center mt-3">
              <img src="assets/images/profil2.jpg" class="rounded-4 img-fluid" alt="Alexandre Martin">
            </div>
            <div class="text-center">
              <div class="card-body">
                <h5 class="card-title text-yellow fw-bold">Alexandre</h5>
                <p class="card-text text-white">Alexandre, passionné de fitness, vient régulièrement pour ses séances de cardio et de musculation. Il est membre fidèle depuis 3 ans.</p>
                <p class="card-text"><small class="text-secondary">Mis en ligne le 14/06/2024</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 bg-dark">
          <div class="row g-0">
            <div class="col-lg-12 text-center mt-3">
              <img src="assets/images/profil3.jpg" class="rounded-4 img-fluid" alt="Sophie Dupont">
            </div>
            <div class="text-center">
              <div class="card-body">
                <h5 class="card-title text-yellow fw-bold">Sophie</h5>
                <p class="card-text text-white">Membre depuis 1 an, Sophie participe activement aux cours de yoga et adore les sessions de pilates pour maintenir son équilibre entre corps et esprit.</p>
                <p class="card-text"><small class="text-secondary">Mis en ligne le 21/02/2024</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          <!-- Join -->
          <div class="join text-yellow text-center p-5"> => Rejoindre la team RUSH</div>
        <!-- Forumes d'abonnement -->
        <div class="p-5">
          <div class="bg-light rounded-4 shadow-lg p-4 col-6 mx-auto">
            <h1 class="text-center mb-4">Nos formules</h1>
            <div class="d-flex justify-content-center gap-4">
              <!-- Carte Silver -->
              <div class="card text-bg-light mb-3 shadow-lg">
                <div class="card-header bg-silver text-dark fw-bold fs-4 text-center">Basic</div>
                <div class="card-body p-2">
                  <h5 class="card-title text-center p-2">Pour une utilisation efficace</h5>
                  <p class="card-text">Un accès simple pour débuter. Profitez de notre salle et de nos équipements pour découvrir le fitness à votre rythme.</p>
                  <div class="text-center mt-3">
                    <button class="btn btn-outline-primary w-50">Plus d'infos</button>
                  </div>
                </div>
              </div>
              <!-- Carte Gold -->
              <div class="card text-bg-warning mb-3 shadow-lg">
                <div class="card-header bg-gold text-dark fw-bold fs-4 text-center">Premium</div>
                <div class="card-body p-2">
                  <h5 class="card-title text-center p-2">Boostez votre potentiel</h5>
                  <p class="card-text">Accès complet à toutes nos installations et à des sessions avec des coachs spécialisés pour vous pousser à atteindre vos objectifs.</p>
                  <div class="text-center mt-3">
                    <button class="btn btn-outline-dark w-50">Plus d'infos</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- Nous trouver -->
      <div class="findUs">
        <div class="bg-dark rounded-4 p-5">
          <div class="d-flex">
            <div class="col-lg-7">
              <h1 class="text-white mb-4">Nous trouver</h1>
              <p class="text-white col-lg-10">Situé à deux pas de la gare de Lille Flandres et Lille Europe. Retrouvrez nos installations ainsi que nos coach dans le centre commercial <b>WestField Euralille.</b></p>
            </div>
            <!-- Remplacer Map par API Google -->
            <div class="my-auto">
              <img src="assets/images/Map.png" class="w-100" alt="map">
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
