<app-discover></app-discover>
<main>
    <section id="target-section" class="container mx-auto">
      <div class="">
        <div>
          <h1>Training personnalisé</h1>
          <h1>Nos installations</h1>
          <img src="assets/images/carousel-1.jpg" class="img-fluid" alt="banniere">
          <img src="assets/images/carousel-2.jpg" class="img-fluid" alt="banniere">
        </div>
    <!-- Présentations de divers membres -->
<div class="bg-sarcel rounded-4 p-3 mt-3">
    <div class="ms-3 text-end">
      <h1>Ils nous ont choisis</h1>
      <h2>Comme eux rejoignez-nous !</h2>
    </div>
    <div class="d-flex justify-content-around">
      <div class="card mb-3" style="max-width: 300px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/images/profil1.jpg" class="img-fluid rounded-start rounded" alt="John Doe">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">John H.</h5>
              <p class="card-text">Depuis 2 ans, Lucas fait partie de notre communauté de fitness. En dehors de ses séances intensives de spinning, il aime discuter avec les autres membres et partager ses astuces pour maximiser les résultats de musculation. Lucas apprécie particulièrement l'ambiance amicale de la salle et n'hésite jamais à motiver les nouveaux venus.</p>
              <p class="card-text"><small class="text-body-secondary">Mis en ligne le 03/10/2024</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 300px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/images/profil2.jpg" class="img-fluid rounded-start rounded" alt="Alexandre Martin">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Alexandre F.</h5>
              <p class="card-text">Alexandre, passionné de fitness, vient régulièrement pour ses séances de cardio et de musculation. Il est membre fidèle depuis 3 ans.</p>
              <p class="card-text"><small class="text-body-secondary">Mis en ligne le 14/06/2024</small></p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3" style="max-width: 300px;">
        <div class="row g-0">
          <div class="col-md-4 mt-3">
            <img src="assets/images/profil3.jpg" class="img-fluid rounded-start rounded" alt="Sophie Dupont">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Alexandra P.</h5>
              <p class="card-text">Membre depuis 1 an, Sophie participe activement aux cours de yoga et adore les sessions de pilates pour maintenir son équilibre entre corps et esprit.</p>
              <p class="card-text"><small class="text-body-secondary">Mis en ligne le 21/02/2024</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        <!-- Forumes d'abonnement -->
        <div class="mt-2">
          <div class="bg-white rounded-4">
            <h1 class="ms-3">Nos formules</h1>
            <div class="d-flex justify-content-center">
              <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Silver</div>
                <div class="card-body">
                  <h5 class="card-title">Basic</h5>
                  <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita perspiciatis ipsum veritatis consectetur, iste illum?</p>
                </div>
              </div>
              <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Gold</div>
                <div class="card-body">
                  <h5 class="card-title">Premium</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At accusantium earum, soluta cupiditate quae a vero magni! Reiciendis, omnis. Dolore magni qui minus assumenda officia ducimus iure distinctio iste numquam.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>