<header>
    <div class="d-flex flex-column align-items-center">
      <img src="assets/images/header.jpeg" class="img-fluid" alt="banniere">
      <div class="col-lg-12 position-absolute w-100 d-flex flex-column justify-content-between bannerHeight">
        <div class="col-12 row menu position-absolute">
          <div class="dropdown">
            <button class="menubtn btn text-white dropdown-toggle border-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </button>
            <ul class="dropdown-menu border-warning">
              <li><a class="dropdown-item text-yellow" href="#">Se connecter</a></li>
              <li><a class="dropdown-item text-yellow" href="/subscribe">S'inscrire</a></li>
              <li><a class="dropdown-item text-yellow" href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="brandBox col-lg-4 text-center">
          <div class="brand">
            RUSH<i class="bi bi-lightning-charge-fill"></i>
          </div>
          <div class="text-white subBrand">- Fitness club</div>
        </div>
  
        <div class="devise d-flex flex-column flex-lg-row justify-content-around text-white w-100">
          <div class="pe-5 ps-5">
            <span class="text-yellow">R</span>evitalise
            <br>
            <p class="h5">yourself</p>
          </div>
          <div class="pe-5 ps-5">
            <span class="text-yellow">U</span>nleash
            <br>
            <p class="h5">your energy</p>
          </div>
          <div class="pe-5 ps-5">
            <span class="text-yellow">S</span>trength
            <br>
            <p class="h5">body and mind</p>
          </div>
          <div class="pe-5 ps-5">
            <span class="text-yellow">H</span>ealth
            <br>
            <p class="h5">matters</p>
          </div>
        </div>
        <div class="mx-auto mb-3">
          <div class="text-center">
            <button class="btn arrowDown flash" onclick="scrollToSection()">V</button>
            <br>
            <h5 class="text-yellow flash discover">Découvrir le site</h5>
          </div>
        </div>
      </div>
    </div>
  </header>
  