<footer class="mt-4" id="target-footer">
  <div class="container bg-white rounded-4" id="target-footer">
      <div class="row">
          <div class="col-md-6">
              <div class="brand ps-3">RUSH<i class="lightning bi bi-lightning-charge"></i></div>
              <div class="ps-3 h5">
                  <span>RUSH Fitness Club</span>
                  <br>
                  <span>166 Centre Commercial Euralille</span>
                  <p>59777 - Lille</p>
                  <p>{{ email }}</p>
                  <p>+33112233446</p>
              </div>
          </div>
          <div class="col-md-6 ps-lg-0 my-auto">
              <div class="row">
                  <div class="col-md-5">
                      <ul class="nav flex-column">
                          <h4>Menu</h4>
                          <li class="nav-item"><a class="nav-link p-0" href="/index">Accueil</a></li>
                          <li class="nav-item"><a class="nav-link p-0" href="/team">Notre équipe</a></li>
                          <li class="nav-item"><a class="nav-link p-0" href="/subscribe">S'inscrire</a></li>
                          <li class="nav-item"><a class="nav-link p-0" href="/contact">Contact</a></li>
                      </ul>
                  </div>
                  <div class="col-md-5">
                      <ul class="nav flex-column">
                          <h4>Liens rapides :</h4>
                          <li class="nav-item"><a class="nav-link p-0" href="/connect">Se connecter</a></li>
                          <li class="nav-item"><a class="nav-link p-0" href="#">Abonnement</a></li>
                          <li class="nav-item"><a class="nav-link p-0" href="#">Mentions légales</a></li>
                          <li class="nav-item"><a class="nav-link p-0" href="#">CGU</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="logo pb-2">
              <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
              <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
              <a href="https://linkedin.com"><i class="bi bi-linkedin"></i></a>
          </div>
      </div>
  </div>
  <div class="copyright text-center mt-1">
      <p>©2024 RUSH - Fitness Club</p>
  </div>
</footer>
