<footer class="pt-4 d-none" id="target-footer">
    <div class="container bg-white rounded-4" id="target-footer">
      <div class="row">
        <div class="col-md-6">
          <h4 class="brand">RUSH</h4>
          <div>
            <p>RUSH Fitness Club</p>
            <p>166 Centre Commercial Euralille</p>
            <p>59777 - Lille</p>
            <p>{{ email }}</p>
            <p>+33112233446</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-unstyled">
                <p>Menu</p>
                <li>Accueil</li>
                <li>Abonnement</li>
                <li>Notre équipe</li>
                <li>Contact</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-unstyled">
                <p>Liens rapides :</p>
                <li>Se connecter</li>
                <li>Abonnement</li>
                <li>Mentions légales</li>
                <li>CGU</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright text-center mt-1">
        <p>©2024 RUSH - Fitness Club</p>
      </div>
  </footer>
