footer h4, footer p, footer ul {
    margin-bottom: 10px;
  }
  
  footer ul p {
    font-weight: bold;
  }
  
  footer ul li {
    margin-bottom: 5px;
  }

.copyright {
    color: white;
    opacity: 50%;
}

.brand, .devise {
    font-family: 'Harabara', sans-serif;
}