@font-face {
  font-family: 'Wallpoet';
  src: url(/assets/fonts/wallpoet-regular.ttf);
}

@font-face {
  font-family: 'Harabara';
  src: url(/assets/fonts/harabara-mais-bold.otf);
}

.copyright {
    color: white;
    opacity: 50%;
}


.brand {
  font-size: 8vh;
  font-family: 'Harabara', sans-serif;
  color: black;
  width: fit-content;
}

.lightning {
  position: absolute;
  font-size: 30px;
}

.logo > a {
  color: grey;
  font-size: 3vh;
  padding: 1vh;
}

.logo > a:hover {
  color: black;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

 /* Changer la couleur de fond et la couleur du texte lors de la sélection */
 ::selection {
  background-color: #ffd700;  /* Couleur de fond de la sélection */
  color: black; /* Couleur du texte de la sélection */
}

/* Pour les éléments avec du texte spécifique */
::moz-selection {
  background-color: #ffd700;  /* Couleur de fond pour Firefox */
  color: black; /* Couleur du texte pour Firefox */
}
