.copyright {
    color: white;
    opacity: 50%;
}


.brand {
  font-size: 8vh;
  font-family: 'Harabara', sans-serif;
  color: black;
  width: fit-content;
}

.lightning {
  position: absolute;
  font-size: 30px;
}

.logo > a {
  color: grey;
  font-size: 3vh;
  padding: 1vh;
}

.logo > a:hover {
  color: black;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}