  <main>

<section id="target-section" class="d-none">
    <div class="container">
      <div>
          <h1>Training personnalisé</h1>
          <h1>Nos installations</h1>

      </div>
      <div class="bg-sarcel rounded-4 p-3">
          <div class="ms-3 text-end">
              <h1>Ils nous ont choisis</h1>
              <h2>Comme eux rejoignez-nous !</h2>
          </div>
          <div class="card mb-3" style="max-width: 300px;">
              <div class="row g-0">
                  <div class="col-md-4">
                      <img src="" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title">Profil</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="mt-2">
          <div class="bg-white rounded-4">
              <h1 class="ms-3">Nos formules</h1>
              <div class="d-flex justify-content-center gap-5">
                  <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                      <div class="card-header">Silver</div>
                      <div class="card-body">
                          <h5 class="card-title">Basic</h5>
                          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita perspiciatis ipsum veritatis consectetur, iste illum?</p>
                      </div>
                    </div>
                  <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">Gold</div>
                        <div class="card-body">
                          <h5 class="card-title">Premium</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At accusantium earum, soluta cupiditate quae a vero magni! Reiciendis, omnis. Dolore magni qui minus assumenda officia ducimus iure distinctio iste numquam.</p>
                        </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
</section>
</main>
