{% extends 'base.html.twig' %}

{% block title %}Abonnement Form{% endblock %}

{% block body %}
    <div>Création de l'espace utilisateur</div>
{{ form_start(form) }} {{ form_widget(form) }} {{ form_end(form) }}
{% endblock %}
